<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="handlebars.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

    <div id="results"></div>
    <div id="status"></div>

    <script id="reportTemplate" type="text/x-handlebars-template">
        <h1>{{year}}</h1>
        <p>
        Average Price: ${{avgPrice}}<br/>
        Low/High Price: ${{minPrice}} / ${{maxPrice}}<br/>
        Average Page Count: {{avgPageCount}}<br/>
        </p>
        {{#each thumbs}}
        <img src="{{this}}" class="thumb">
        {{/each}}
        <br clear="left">
        <p/>
    </script>
    <script src="app.js"></script>

    </body>
</html>